# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Database files
*.db
*.sqlite3

# IDEs
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Backup folder
back_up/

# Logs
*.log

# Environment variables
.env

# PyCharm specific
*.iws